@import './reset.scss';
@import './common.scss';
@import './libs/_normalize.scss';

.achievements{
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    .content{
        margin: 1rem 1.5rem;
        background: #fff;
        flex: 1;
    }
}